@import (reference) "../../custom-settings.part.less";

//카드
.cl-container.card {
	border: 1px solid #e3e8ee;
	
	//user management - total 표시
	&.type01 {
		border-radius: 12px;
		
		.cl-formlayout-vertical-separator {
			background-color: #e3e8ee;
		}
		
		.cl-output.tit {
			font-size: 20px;
			font-weight: 600;
		}
	}
	
	//카드 공통 스타일
	&.type02 {
		padding: 12px;
		border-radius: 8px;
		color: #273951;
		
		.cl-output.c-tit {
			font-size: 15px;
			font-weight: 600;
			color: #0d253d;
		}
		
		.cl-button.c-tit-blue,
		.cl-button.c-tit-black {
			font-size: 15px;
			font-weight: 600;
			text-align: left;
		}
		
		.cl-button.c-tit-blue {
			color: @primary;
		}

		.cl-button.c-tit-black {
			color: #0d253d;
		}
		
		.cl-output.c-tit-sub {
			font-size: 13px;
			font-weight: 600;
			color: #0d253d;
		}
	}
}

//카드 타이틀 두줄 시
.cl-button {
	&.ellipsis-2 {
		.cl-text {
			display: -webkit-box !important;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
		}
	}
}

//그리드 숫자 표시 뱃지
.cl-button {
	.btn-grid-badge-red,
	.btn-grid-badge-gray {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 16px;
		min-height: 16px;
		font-size: 10px;
		font-weight: 600;
		border-radius: @border-radius-full;
		margin-left: 8px;
		padding: 0px 4px;
	}
	
	.btn-grid-badge-red {
		background-color: @danger;
		color: @white;
	}

	.btn-grid-badge-gray {
		background-color: @gray-20;
		color: @color-component-text-disabled;
	}
}

//타이틀 영역
.cl-container.page-title-wrap {
	background-color: #ffffff;
	border-bottom: 1px solid #e3e8ee;
	padding: 12px 16px 11px;
	
	.cl-container.btn-wrap {
		.cl-button {
			border-radius: @border-radius-full;
			font-size: 14px;
			font-weight: @font-weight-semibold;
			padding: 0 12px;
		}
	}
}

//타이틀 하위 grpBody
.cl-container.inner {
//	max-width: 900px;
//	width: 100%;
//	margin: 0 auto;
//	
//	@media @size-large-less {
//		max-width: 100%;
//	}
}

//카드 영역
.cl-container.card-section {
	border-top: 1px solid #e3e8ee;
	padding: 12px;
}

//임력 폼 스타일
.cl-container.form-group {
	background-color: #ffffff;
	border: 1px solid #e3e8ee;
	border-radius: 12px;
	box-shadow: 0 1px 3px rgba(0,55,112,0.08);
	
	.label {
		font-size: 13px;
		color: #0d253d;
	}
	
	.group {
		&:not(.cl-last-row) {
			border-bottom: 1px solid #e3e8ee;
			padding-bottom: 24px;
		}
		
		.group-tit {
			font-size: 15px;
			font-weight: 600;
			color: #0d253d;
		}
	}
	
	.cl-container.btn-wrap {
		padding-top: 16px;
		border-top: 1px solid #e3e8ee;
		
		.cl-button {
			padding: 0px 12px;
		}
	}
}

.cl-button.btn-go-back {
	text-align: left;
	font-weight: 600;
	font-size: 15px;
	color: #0d253d;
	
	.cl-icon {
		background-image: url("../../img/icons/ico_arrow_left.svg") !important;
	}
}

//조회 영역 grpSearch
.cl-container.search-top-box {
	background-color: #ffffff;
	border: 1px solid #e3e8ee;
	border-radius: 12px;
	box-shadow: 0 1px 3px rgba(0,55,112,0.08);
	
	.cl-container.search-head {
		border-bottom: 1px solid #e3e8ee;
		padding: 16px;

		.cl-output.truncate {
			color: #64748d;
			font-size: 13px;
			font-weight: @font-weight-normal;
			letter-spacing: -0.39px;
		}
	}
	
	.cl-container.filter-form {
		.cl-output.label {
			color: #0d253d;
			font-size: 13px;
			font-weight: @font-weight-semibold;
			letter-spacing: -0.39px;
			text-align: left;
		}
	}
	
	.cl-container.search-btn-wrap {
		border-top: 1px solid #e3e8ee;
		margin-top: 8px;
		padding-top: 16px;
		
		.cl-button {
			font-size: 14px;
			font-weight: @font-weight-semibold;
			padding: 0 12px;
		}
	}
}

//조회 영역 하위 결과 컨텐츠
.cl-container.search-list-top {
	padding: 16px;
}

.cl-output.sch-info {
	color: #64748d;
	font-size: 13px;
	font-weight: @font-weight-normal;
	line-height: 1.4;
	letter-spacing: -0.39px;
}