@import "../../custom-settings.part.less";

.cl-container.card {
	border: 1px solid #e3e8ee;
	
	//user management - total 표시
	&.type01 {
		border-radius: 12px;
		
		.cl-formlayout-vertical-separator {
			background-color: #e3e8ee;
		}
		
		.cl-output.tit {
			font-size: 20px;
			font-weight: 600;
		}
	}
	
	//user management - user 카드
	&.type02 {
		padding: 12px;
		border-radius: 8px;
		color: #273951;
			
		.cl-output.c-15 {
			font-size: 15px;
			font-weight: 600;
			color: #0d253d;
		}
		
		.cl-output.c-13 {
			font-size: 13px;
			font-weight: 600;
			color: #0d253d;
		}
		
		.cl-output.highlight {
			color: @primary;
		}
		
		.cl-output.label {
			font-size: 11px;
			font-weight: 600;
			color: #64748d;
		}
		
		.cl-output.badge {
			border-radius: @border-radius-full;
		}
	}
}

//grpContent 컨텐츠 영역 스타일 모음
.cl-container.content {
	//컨텐츠(카드, 리스트) 좌측 상단의 결과 개수 표시
	.cl-container.content-result {
		.cl-output {
			color: #64748d;
		}
	}
	
	//카드 영역 상단 보더
	.cl-container.card-contents {
		border-top: 1px solid #e3e8ee;
		padding: 12px;
	}
}