@import "../../custom-settings.part.less";

/************************************************
 * [UDC] 앱헤더
 ************************************************/
.cl-container.app-header {
	.cl-output {
		font-weight: 600;
		font-size: 15px;
		color: #0d253d;
	}
}

/************************************************
 * [UDC] 조회영역 토글
 ************************************************/
.cl-container.udc-search-toggle {
	.cl-button.btn-expand {
		text-align: left;
		font-size: 15px;
		font-weight: 600;
		padding: 0px;
		background: url("../../img/icons/ico_angle_down.svg") no-repeat center right;
		background-size: 18px;
		
		&:not(.cl-disabled):hover,
		&:not(.cl-disabled).cl-hover {
			background-color: #EFF1F5;
		}
		
		
		&.collapse {
			background: url("../../img/icons/ico_angle_up.svg") no-repeat center right;
			background-size: 18px;
		}
	}
}

/************************************************
 * [UDC] 페이지 인덱서
 ************************************************/
 .cl-container.udc-pagination {
 	.cl-container.page-count-info {
 		.cl-output {
	 		color: #64748d;
 		}
 	}
 	
 	.cl-container.btn-group {
 		border-radius: @border-radius-full;
 		border: 1px solid #e3e8ee;
 		
 		.cl-formlayout-vertical-separator {
 			background-color: #e3e8ee;
 		}
 		
	 	.cl-button.btn-prev,
	 	.cl-button.btn-next {
	 		padding: 0px 12px;
	 		border-radius: 0;
	 		font-weight: 600;
	 		color: #0d253d;
	 		
	 		.cl-icon {
	 			background-size: 16px;
	 		}
	 		
	 		&:not(.cl-disabled):hover,
	 		&:not(.cl-disabled).cl-hover {
	 			background-color: #EFF1F5;
	 		}
	 		
	 		&.cl-disabled {
	 			color: fade(#64748d, 40%);
	 			background-color: transparent;
	 		}
	 	}
	 	
	 	.cl-button.btn-prev {
	 		.cl-icon {
	 			background-image: url("../../img/icons/ico_angle_left.svg") !important;
	 		}
	 		
	 		&.cl-disabled {
	 			.cl-icon {
	 				background-image: url("../../img/icons/ico_pagination_left_disable.svg") !important;
	 			}
	 		}
	 	}
	 	
	 	.cl-button.btn-next {
	 		.cl-icon {
	 			background-image: url("../../img/icons/ico_angle_right.svg") !important;
	 		}
	 		
	 		&.cl-disabled {
	 			.cl-icon {
	 				background-image: url("../../img/icons/ico_pagination_right_disable.svg") !important;
	 			}
	 		}
	 	}
 	}
 }

/************************************************
 * [UDC] 컨텐츠 그리드/카드 토글
 ************************************************/
 
.cl-container.viewmode {
	.cl-button {
		border-radius: 6px;
		padding: 0;
		
		.cl-icon {
			margin: 0;
		}
		
		&.btn-grid {
			.cl-icon {
				background-image: url("@{img-path}/icons/pages/ico_grid.svg") !important;
			}
		}
		
		&.btn-card {
			.cl-icon {
				background-image: url("@{img-path}/icons/pages/ico_card.svg") !important;
			}
		}
		
		&.active {
			background-color: #eef1f5;
		}
	}
}

.cl-container.pagination {
	margin-top: 16px;
	padding: 12px 0;
	
	.cl-output.page-info {
		color: #64748d;
		font-size: 13px;
		font-weight: @font-weight-normal;
		letter-spacing: -0.39px;
	}
	
	.cl-combobox.page-size {
		.cl-text {
			padding: 0 12px;
		}
	}
	
	.cl-button.page-navi {
		border: 1px solid #e3e8ee;
		padding: 8px 12px;
		
		.shortcut {
		}
		
		&.prev {
			border-radius: @border-radius-full 0 0 @border-radius-full;
			border-right-color: transparent;
		}
		
		&.next {
			border-radius: 0 @border-radius-full @border-radius-full 0;
		}
		
		&.cl-disabled {
			background-color: #ffffff;
			border-color: #e3e8ee;
			opacity: .4;
		}
	}
}