@import "../../custom-settings.part.less";

//우측 버튼 그룹
.cl-container.btn-content-toggle {
	.cl-button.btn-show-grid,
	.cl-button.btn-show-card {
		&:not(.cl-disabled):hover,
		&:not(.cl-disabled).cl-hover,
		&:not(.cl-disabled):active,
		&:not(.cl-disabled).cl-activated,
		&.cl-focus {
			background-color: #eef1f5;
			background-size: 18px;
		}
	}
	
	.cl-button.btn-show-grid {
		.cl-icon {
			background-image: url("@{img-path}/icons/pages/ico_grid.svg") !important;
		}
		
		&:not(.cl-disabled):hover,
		&:not(.cl-disabled).cl-hover,
		&:not(.cl-disabled):active,
		&:not(.cl-disabled).cl-activated,
		&.cl-focus {
			.cl-icon {
				background-image: url("@{img-path}/icons/pages/ico_grid_active.svg") !important;
			}
		}
	}
	
	.cl-button.btn-show-card {
		.cl-icon {
			background-image: url("@{img-path}/icons/pages/ico_card.svg") !important;
		}
		
		&:not(.cl-disabled):hover,
		&:not(.cl-disabled).cl-hover,
		&:not(.cl-disabled):active,
		&:not(.cl-disabled).cl-activated,
		&.cl-focus {
			.cl-icon {
				background-image: url("@{img-path}/icons/pages/ico_card_active.svg") !important;
			}
		}
	}
}